@import url('../css/global.css');

main {
  padding: var(--gutter);
  overflow-y: scroll;
}

  main article {
    margin-bottom: calc(var(--gutter) * 2);
  }

  main h1 {
    font-size: 2em;
    font-weight: var(--font-weight-display);
    font-style: var(--font-style-display);
    line-height: 2.4;
  }
    
  main section {
    margin-bottom: var(--gutter);
    padding-left: var(--gutter);
  }
      
  main h2 {
    font-size: 1.4em;
    font-weight: var(--font-weight-display);
    line-height: 1.8;
  }
  
  main h3 {
    font-size: 1.2em;
    line-height: 1.2;
    font-style: italic;
  }
  
  main ul {
    padding-left: var(--gutter);
  }
  
  main li {
    line-height: 1.6;
  }