@import url('../css/libs/variables.css');

header {
  display: flex;
  align-items: center;
  justify-items: space-between;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  padding: var(--gutter);
  background-color: var(--bkg-primary);
  color: var(--txt-primary);
  z-index: 1;
}

  header .curtain {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bkg-primary);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--build-anim-duration);
  }
  
  header input:checked ~ .curtain {
    opacity: 0.8;
    pointer-events: auto;
  }
  
  header div {
    display: flex;
    flex-direction: column;
  }

    header div h1 {
      font-size: var(--font-size-display);
      font-weight: var(--font-weight-display);
      font-style: var(--font-style-display);
      text-transform: uppercase;
    }
    
    header div h2 {
      font-size: var(--font-size-display-secondary);
      font-weight: var(--font-weight-display);
      font-style: var(--font-style-display);
      text-transform: uppercase;
    }

  header nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--bkg-primary);
    transform: translateX(100%);
    transition: transform var(--build-anim-duration);
  }
  
  header input:checked ~ nav {
    transform: translateX(0);
  }
  
    header nav label {
      position: absolute;
      left: 0;
      width: var(--header-height);
      height: var(--header-height);
      background-color: var(--bkg-primary);
      transform: translateX(-100%);
    }
    
    header nav label::before,
    header nav label::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 1px;
      background-color: var(--txt-primary);
      transition: transform var(--build-anim-duration);
    }
    
    header nav label::before {
      transform: translateX(-50%) translateY(calc(-50% - 4px));
    }
    
    header nav label::after {
      transform: translateX(-50%) translateY(calc(-50% + 4px));
    }
    
    header input:checked ~ nav label::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    
    header input:checked ~ nav label::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  
    header nav ul {
      padding: var(--gutter);
    }
    
      header nav ul li {}
      
        header nav ul li a {
          color: var(--txt-primary);
          font-size: 7vw;
          line-height: 2;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: var(--font-weight-display);
          font-style: var(--font-style-display);
        }

main {
  height: calc(100vh - var(--header-height));
}

@media (min-width: 540px) {
  header nav ul li a {
    font-size: 4.5vw;
  }
}  

@media (min-width: 768px) {
  header nav ul li a {
    font-size: 3.5vw;
  }
} 
