@import "./variables.css";

* { box-sizing: border-box }

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: stretch;
}

.card {
  position: relative;
  width: calc(100vw / var(--num-cols));
  height: calc(100vh / var(--num-rows));
  color: var(--fg-primary);
}

.card__wrapper {
  position: relative;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: calc(100vw / var(--num-cols));
  height: calc(100vh / var(--num-rows));
  perspective: 100vw;
  transition:
    position var(--anim-speed) allow-discrete,
    z-index var(--anim-speed) allow-discrete,
    width var(--anim-speed),
    height var(--anim-speed);
}

.card__inner {
  position: relative;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-duration: var(--anim-speed);
  transition-property: inset-block-start, inset-inline-start, width, height;
}

.card__side {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  backface-visibility: hidden;
  transition: transform var(--anim-speed);
}

.card__image {
  width: 100%;
  height: 100%;
  background-image: var(--setlist-image, linear-gradient(blueviolet, springgreen));
  background-position: center;
  background-size: cover;
  transform: rotateY(0deg);
}

.card__title {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  padding-inline-start: 16px; /* @todo: gutter variable? */
  line-height: 30px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: var(--bg-primary);
  font: var(--card-front-font);
  transition: opacity 0.3s;
  opacity: 0;

  .card__side--front:hover & {
    opacity: 1;
  }
}

.card__side--back {
  padding: var(--card-padding);
  overflow: hidden;
  transform: rotateY(180deg);
}

.card__toggle:checked {
  & + .card__wrapper {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;

    .card__inner {
      inset-block-start: var(--card-inset);
      inset-inline-start: var(--card-inset);
      width: calc(100% - (var(--card-inset) * 2));
      height: calc(100% - (var(--card-inset) * 2));
    }

    .card__side--front {
      transform: rotateY(-180deg);
    }

    .card__side--back {
      overflow: auto;
      transform: rotateY(0deg);
    }
  }
}

.overlay {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background-color var(--anim-speed);
}

.cards:has(.card__toggle:checked) ~ .overlay {
  background-color: rgba(0, 0, 0, .666);
  pointer-events: auto;
}
