:root {
  --bg-primary: #f8f0ff;
  --fg-primary: #08000f;
  --xx-primary: #8800ff;

  --card-inset: 60px;
  --card-padding: 24px;
  --num-cols: 3;
  --num-rows: 3.5;

  --card-front-font: 16px/36px sans-serif;

  --anim-speed: 1s;

  --scrollbar-offset: 0px;
}
